<mat-list>
  @for(contact of contactReasourse.value();track contact.id) {
  <mat-list-item>
    <h3 matListItemTitle>Name:{{ contact.name }}</h3>
    <p matListItemLine>Email:{{ contact.email }}</p>
    <div matListItemMeta>
      <button mat-icon-button [routerLink]="['/edit', contact.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteContact(contact.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
  } @if(loading()){
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  }
</mat-list>
